<!DOCTYPE html>
<html>
<head>
 <title>IHM PROJECT</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<header>
  <%= render partial: 'shared/navbar' unless @disable_nav %>
</header>
<body>
<%= yield %>
</body>

<footer>
  <%= render partial: 'shared/footer' unless @disable_footer %>
</footer>
</html>