<!DOCTYPE html>
<html>
<head>
 <title>IHM PROJECT</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<header>
<%= render partial: 'shared/navbar' %>
</header>
<body>
<%= yield %>
</body>

</html>